/*.pagseguro-display-none {
  display: none;
}*/

.display-none {
  display: none;
}

.help-block {
    color: #df280a;
    font-size: small;
}

.pagseguro-label-spacing {
    padding: 0.5em 0em;
}

.pagseguro-label-width {
    width: 30%;
}

.pagseguro-input-width {
    width: 50%;
}

span > input {
    width: 50%;
}

.pagseguro-label-spacing > label {
    width: 30%;
    text-align: right;
}

/*.display-none .validation-advice {
 padding-left: 30%;   */
}