<?xml version="1.0"?>
<!--
************************************************************************
Copyright [2015] [PagSeguro Internet Ltda.]

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
************************************************************************
-->
<config>
    <modules>
        <UOL_PagSeguro>
            <version>3.5.0</version>
        </UOL_PagSeguro>
    </modules>
    <global>
        <payment>
            <groups>
                <pagseguro>PagSeguro</pagseguro>
            </groups>
        </payment>
        <blocks>
            <uol_pagseguro>
                <class>UOL_PagSeguro_Block</class>
            </uol_pagseguro>
        </blocks>
        <models>
            <uol_pagseguro>
                <class>UOL_PagSeguro_Model</class>
            </uol_pagseguro>
        </models>
        <helpers>
            <pagseguro>
                <class>UOL_PagSeguro_Helper</class>
            </pagseguro>
        </helpers>
        <events>
            <resource_get_tablename>
                <observers>
                    <uol_pagseguro>
                        <class>UOL_PagSeguro_Model_Observer</class>
                        <method>addAutoloader</method>
                    </uol_pagseguro>
                </observers>
            </resource_get_tablename>
        </events>
        <template>
            <email>
                <payment_pagseguro_template translate="label" module="pagseguro">
                    <label>PagSeguro - Abandoned Transactions</label>
                    <file>sales/pagseguro_abandoned.html</file>
                    <type>html</type>
                </payment_pagseguro_template>
            </email>
        </template>
        <resources>
            <uol_pagseguro_setup>
                <setup>
                    <module>UOL_PagSeguro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uol_pagseguro_setup>
            <pagseguro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagseguro_write>
            <pagseguro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagseguro_read>
        </resources>
    </global>
    <admin>
        <routers>
            <pagseguro>
                <use>admin</use>
                <args>
                    <module>UOL_PagSeguro</module>
                    <frontName>pagseguro</frontName>
                </args>
            </pagseguro>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <pagseguro>UOL_PagSeguro.csv</pagseguro>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
        <menu>
            <pagseguro_menu translate="title" module="pagseguro">
            <title>PagSeguro</title>
            <sort_order>1000</sort_order>
                <children>
                     <pagseguro_configuration translate="title" module="pagseguro">
                        <title>Configuração</title>
                        <action>adminhtml/system_config/edit/section/payment/</action>
                        <sort_order>2000</sort_order>
                    </pagseguro_configuration>
                    <pagseguro_transaction translate="title" module="pagseguro">
                        <title>Transações</title>
                        <sort_order>2100</sort_order>
                        <children>
                            <pagseguro_abandoned translate="title" module="pagseguro">
                                <title>Abandonadas</title>
                                <action>pagseguro/adminhtml_abandoned</action>
                                <sort_order>2110</sort_order>
                            </pagseguro_abandoned>
                            <pagseguro_canceled translate="title" module="pagseguro">
                                <title>Cancelamento</title>
                                <action>pagseguro/adminhtml_canceled</action>
                                <sort_order>2120</sort_order>
                            </pagseguro_canceled>
                            <pagseguro_conciliation translate="title" module="pagseguro">
                                <title>Conciliação</title>
                                <action>pagseguro/adminhtml_conciliation</action>
                                <sort_order>2130</sort_order>
                            </pagseguro_conciliation>
                            <pagseguro_refund translate="title" module="pagseguro">
                                <title>Estorno</title>
                                <action>pagseguro/adminhtml_refund</action>
                                <sort_order>2140</sort_order>
                            </pagseguro_refund>
                        </children>
                    </pagseguro_transaction>
                    <pagseguro_requirements translate="title" module="pagseguro">
                        <title>Requisitos</title>
                        <action>pagseguro/adminhtml_requirements</action>
                        <sort_order>2200</sort_order>
                    </pagseguro_requirements>
                </children>
            </pagseguro_menu>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <pagseguro_adminform>
                                    <title>PagSeguro</title>
                                </pagseguro_adminform>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <pagseguro>
                    <file>uol/pagseguro.xml</file>
                </pagseguro>
            </updates>
        </layout>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <uol_pagseguro>
                        <model>uol_pagseguro/observer</model>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </uol_pagseguro>
                </observers>
            </sales_order_grid_collection_load_before>
            <admin_system_config_changed_section_payment>
                <observers>
                    <uol_pagseguro>
                        <model>uol_pagseguro/observer</model>
                        <method>adminSystemConfigPaymentSave</method>
                    </uol_pagseguro>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <pagseguro>
                <use>standard</use>
                <args>
                    <module>UOL_PagSeguro</module>
                    <frontName>pagseguro</frontName>
                </args>
            </pagseguro>
        </routers>
        <layout>
            <updates>
                <pagseguro>
                    <file>uol/pagseguro.xml</file>
                </pagseguro>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <pagseguro_default_lightbox>
                <active>0</active>
                <model>UOL_PagSeguro_Model_DefaultLightbox</model>
                <title>PagSeguro</title>
                <group>pagseguro</group>
                <sort_order>1</sort_order>
            </pagseguro_default_lightbox>
            <pagseguro_credit_card>
                <active>0</active>
                <model>UOL_PagSeguro_Model_CreditCard</model>
                <title>Cartão de Crédito</title>
                <group>pagseguro</group>
                 <sort_order>2</sort_order>
            </pagseguro_credit_card>
            <pagseguro_boleto>
                <active>0</active>
                <model>UOL_PagSeguro_Model_Boleto</model>
                <title>Boleto Bancário</title>
                <group>pagseguro</group>
                 <sort_order>3</sort_order>
            </pagseguro_boleto>
            <pagseguro_online_debit>
                <active>0</active>
                <model>UOL_PagSeguro_Model_OnlineDebit</model>
                <title>Débito Online</title>
                <group>pagseguro</group>
                 <sort_order>4</sort_order>
            </pagseguro_online_debit>
            <!-- The <pagseguro> node is deprecated and not more used, it is here only to backward compatibility -->
            <pagseguro>
                <active>0</active>
                <model>UOL_PagSeguro_Model_PagSeguroDeprecated</model>
                <group>pagseguro</group>
            </pagseguro>
            <!-- End  (backward compatibility pagseguro node) -->
        </payment>
    </default>
</config>
