<?xml version="1.0"?>
<!--
************************************************************************
Copyright [2015] [PagSeguro Internet Ltda.]

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
************************************************************************
-->
<config>
   <sections>
        <payment>
            <groups>
                <pagseguro_settings translate="label" module="paygate">
                    <label>PagSeguro</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <frontend_class>complex</frontend_class>
                    <fields>
                        <pagseguro type="group" translate="label">
                            <label>Configurações Gerais</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <fields>
                                <comment translate="label">
                                    <label></label>
                                    <comment>
                                        <model>uol_pagseguro/adminhtml_config</model>
                                    </comment>
                                    <frontend_type>label</frontend_type>
                                    
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </comment>
                                <environment translate="label">
                                    <label>AMBIENTE</label>
                                    <tooltip>Define o ambiente de uso.</tooltip>
                                    <frontend_type>select</frontend_type>
                                    <source_model>uol_pagseguro/environment</source_model>
                                    <sort_order>30</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </environment>
                                <email translate="label">
                                    <label>E-MAIL</label>
                                    <comment>Clique &lt;a href=&quot;https://pagseguro.uol.com.br/registration/registration.jhtml?ep=7&amp;tipo=cadastro#!vendedor&quot; target=&quot;_blank&quot;&gt;aqui&lt;/a&gt; e cadastre-se gr&#225;tis.</comment>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>40</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </email>
                                <token translate="label">
                                    <label>TOKEN</label>
                                    <tooltip>Acesse sua conta PagSeguro ou Sandbox para obter um token.</tooltip>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>50</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </token>
                                <url translate="label">
                                    <label>URL DE REDIRECIONAMENTO</label>
                                    <tooltip>Ao final do fluxo de pagamento no PagSeguro, seu cliente será redirecionado de volta para sua loja ou para a URL que você informar neste campo. Para utilizar essa funcionalidade você deve acessar sua conta PagSeguro ou Sandbox e habilitar requisições de pagamentos gerados somente via API.</tooltip>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>60</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </url>
                                <notification translate="label">
                                    <label>URL DE NOTIFICAÇÃO</label>
                                    <tooltip>Sempre que uma transa&#231;&#227;o mudar de status, o PagSeguro envia uma notifica&#231;&#227;o para sua loja ou para a URL que voc&#234; informar neste campo.</tooltip>
                                    <sort_order>70</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </notification>
                                <charset translate="label">
                                    <label>CHARSET</label>
                                    <tooltip>Defina o charset de acordo com a codificação do seu sistema.</tooltip>
                                    <frontend_type>select</frontend_type>
                                    <source_model>uol_pagseguro/values</source_model>
                                    <sort_order>80</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </charset>
                                <log translate="label">
                                    <label>ATIVAR LOG</label>
                                    <tooltip>Criar arquivo de log?</tooltip>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>90</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </log>
                                <log_file translate="label">
                                    <label>DIRETÓRIO</label>
                                    <tooltip>Caminho para o arquivo de log.</tooltip>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>100</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <depends>
                                        <log>1</log>
                                    </depends>
                                </log_file>

                                <abandoned translate="label">
                                    <label>LISTAR TRANSAÇÔES ABANDONADAS?</label>
                                    <tooltip>Ativa e desativa consulta de transações abandonadas</tooltip>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>120</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </abandoned>
                                <template translate="label">
                                    <label>TEMPLATE DE E-MAIL</label>
                                    <tooltip>Template usado para notificar o cliente sobre sua transação abandonada</tooltip>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <depends>
                                        <abandoned>1</abandoned>
                                    </depends>
                                </template>
                                <discount_credit_card translate="label">
                                    <label>OFERECER DESCONTO PARA CARTÃO DE CRÉDITO?</label>
                                    <tooltip>Ao ativar esta opção, seu comprador vai receber um desconto caso escolha pagar com este meio de pagamento. O desconto será aplicado com base no subtotal do checkout PagSeguro.</tooltip>
                                    <validate>discount-confirm</validate>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>140</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </discount_credit_card>
                                <discount_credit_card_value translate="label">
                                    <label>PERCENTUAL DE DESCONTO</label>
                                    <tooltip>Informe o percentual de desconto a ser concedido para este meio de pagamento. Aceita valores de 0.01 à 99.99</tooltip>
                                    <validate>required-entry validate-number validate-number-range number-range-0.01-99.99 discount-value</validate>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>145</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <depends>
                                        <discount_credit_card>1</discount_credit_card>
                                    </depends>
                                </discount_credit_card_value>
                                <discount_boleto translate="label">
                                    <label>OFERECER DESCONTO PARA BOLETO?</label>
                                    <tooltip>Ao ativar esta opção, seu comprador vai receber um desconto caso escolha pagar com este meio de pagamento. O desconto será aplicado com base no subtotal do checkout PagSeguro.</tooltip>
                                    <validate>discount-confirm</validate>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>150</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </discount_boleto>
                                <discount_boleto_value translate="label">
                                    <label>PERCENTUAL DE DESCONTO</label>
                                    <tooltip>Informe o percentual de desconto a ser concedido para este meio de pagamento. Aceita valores de 0.01 à 99.99</tooltip>
                                    <validate>required-entry validate-number validate-number-range number-range-0.01-99.99 discount-value</validate>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>155</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <depends>
                                        <discount_boleto>1</discount_boleto>
                                    </depends>
                                </discount_boleto_value>
                                <discount_electronic_debit translate="label">
                                    <label>OFERECER DESCONTO PARA DÉBITO ELETRÔNICO?</label>
                                    <tooltip>Ao ativar esta opção, seu comprador vai receber um desconto caso escolha pagar com este meio de pagamento. O desconto será aplicado com base no subtotal do checkout PagSeguro.</tooltip>
                                    <validate>discount-confirm</validate>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>160</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </discount_electronic_debit>
                                <discount_electronic_debit_value translate="label">
                                    <label>PERCENTUAL DE DESCONTO</label>
                                    <tooltip>Informe o percentual de desconto a ser concedido para este meio de pagamento. Aceita valores de 0.01 à 99.99</tooltip>
                                    <validate>required-entry validate-number validate-number-range number-range-0.01-99.99 discount-value</validate>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>165</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <depends>
                                        <discount_electronic_debit>1</discount_electronic_debit>
                                    </depends>
                                </discount_electronic_debit_value>
                                <discount_deposit_account translate="label">
                                    <label>OFERECER DESCONTO PARA DEPÓSITO EM CONTA?</label>
                                    <tooltip>Ao ativar esta opção, seu comprador vai receber um desconto caso escolha pagar com este meio de pagamento. O desconto será aplicado com base no subtotal do checkout PagSeguro.</tooltip>
                                    <validate>discount-confirm</validate>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>170</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </discount_deposit_account>
                                <discount_deposit_account_value translate="label">
                                    <label>PERCENTUAL DE DESCONTO</label>
                                    <tooltip>Informe o percentual de desconto a ser concedido para este meio de pagamento. Aceita valores de 0.01 à 99.99</tooltip>
                                    <validate>required-entry validate-number validate-number-range number-range-0.01-99.99 discount-value</validate>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>175</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <depends>
                                        <discount_deposit_account>1</discount_deposit_account>
                                    </depends>
                                </discount_deposit_account_value>
                                <discount_balance translate="label">
                                    <label>OFERECER DESCONTO PARA SALDO PAGSEGURO?</label>
                                    <tooltip>Ao ativar esta opção, seu comprador vai receber um desconto caso escolha pagar com este meio de pagamento. O desconto será aplicado com base no subtotal do checkout PagSeguro.</tooltip>
                                    <validate>discount-confirm</validate>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>180</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </discount_balance>
                                <discount_balance_value translate="label">
                                    <label>PERCENTUAL DE DESCONTO</label>
                                    <tooltip>Informe o percentual de desconto a ser concedido para este meio de pagamento. Aceita valores de 0.01 à 99.99</tooltip>
                                    <validate>required-entry validate-number validate-number-range number-range-0.01-99.99 discount-value</validate>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>185</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <depends>
                                        <discount_balance>1</discount_balance>
                                    </depends>
                                </discount_balance_value>
                                <installments translate="label">
                                    <label>LISTAR PARCELAMENTO</label>
                                    <tooltip>Habilita a exibição da listagem de parcelas na tela de visualização do produto. (Irá exibir o maior parcelamento disponível para o produto no pagamento com cartão de crédito)</tooltip>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>190</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </installments>
                            </fields>
                        </pagseguro>
                        
                        <!--Checkout configuration-->
                        <pagseguro_payment type="group" translate="label">
                            <label>Configurar Tipos de Checkout</label>
                            <sort_order>690</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <fields>
                                <pagseguro_default_lightbox type="group" translate="label">
                                    <label>PagSeguro (Padrão ou LightBox)</label>
                                    <sort_order>10</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <fields>
                                        <active translate="label">
                                            <label>ATIVAR</label>
                                            <tooltip>Ativa/desativa o meio de pagamento PagSeguro (Padrão ou Lightbox)</tooltip>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>10</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </active>
                                        <checkout translate="label">
                                            <label>TIPO DE CHECKOUT</label>
                                            <tooltip>Selecione o tipo de checkout desejado para utilizar com o PagSeguro (Padrão ou Lightbox).</tooltip>
                                            <frontend_type>select</frontend_type>
                                            <source_model>uol_pagseguro/checkout</source_model>
                                            <sort_order>20</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </checkout>
                                        <title translate="label">
                                            <label>NOME DE EXIBIÇÃO</label>
                                            <tooltip>Informe o nome que deve ser apresentado para este meio de pagamento no checkout de sua loja.</tooltip>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>30</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </title>
                                    </fields>
                                </pagseguro_default_lightbox>
                                <pagseguro_credit_card type="group" translate="label">
                                    <label>Checkout Transparente - Cartão de Crédito</label>
                                    <sort_order>20</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <fields>
                                        <active translate="label">
                                            <label>ATIVAR</label>
                                            <tooltip>Ativa / desativa o meio de pagamento Checkout Transparente - Cartão de Crédito</tooltip>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>10</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </active>
                                        <title translate="label">
                                            <label>NOME DE EXIBIÇÃO</label>
                                            <tooltip>Informe o nome que deve ser apresentado para este meio de pagamento no checkout de sua loja.</tooltip>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>20</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </title>
                                    </fields>
                                </pagseguro_credit_card>
                                <pagseguro_boleto type="group" translate="label">
                                    <label>Checkout Transparente - Boleto Bancário</label>
                                    <sort_order>30</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <fields>
                                        <active translate="label">
                                            <label>ATIVAR</label>
                                            <tooltip>Ativa / desativa o meio de pagamento Checkout Transparente - Boleto</tooltip>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>10</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </active>
                                        <title translate="label">
                                            <label>NOME DE EXIBIÇÃO</label>
                                            <tooltip>Informe o nome que deve ser apresentado para este meio de pagamento no checkout de sua loja.</tooltip>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>20</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </title>
                                    </fields>
                                </pagseguro_boleto>
                                <pagseguro_online_debit type="group" translate="label">
                                    <label>Checkout Transparente - Débito Online</label>
                                    <sort_order>40</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <fields>
                                        <active translate="label">
                                            <label>ATIVAR</label>
                                            <tooltip>Ativa / desativa o meio de pagamento Checkout Transparente - Débito Online</tooltip>
                                            <frontend_type>select</frontend_type>
                                            <source_model>adminhtml/system_config_source_yesno</source_model>
                                            <sort_order>10</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </active>
                                        <title translate="label">
                                            <label>NOME DE EXIBIÇÃO</label>
                                            <tooltip>Informe o nome que deve ser apresentado para este meio de pagamento no checkout de sua loja.</tooltip>
                                            <frontend_type>text</frontend_type>
                                            <sort_order>20</sort_order>
                                            <show_in_default>1</show_in_default>
                                            <show_in_website>1</show_in_website>
                                            <show_in_store>1</show_in_store>
                                        </title>
                                    </fields>
                                </pagseguro_online_debit>
                            </fields>
                        </pagseguro_payment>

                        <pagseguro_payments_enabled type="group" translate="label">
                            <label>Consultar meios de pagamentos ativos na conta PagSeguro</label>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <expanded>0</expanded>
                        </pagseguro_payments_enabled>
                    </fields>
                </pagseguro_settings>
            </groups>
        </payment>
    </sections>
</config>
