<?xml version="1.0"?>
<config>
   <sections>
        <payment>
            <groups>
                <pagseguro translate="label" module="paygate">
                    <label>PagSeguro</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        
                        <active translate="label">
                            <label>ATIVAR MÓDULO</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>01</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Deseja habilitar o m&#243;dulo?</comment>
                        </active>
                        
                        <title translate="label">
                            <label>NOME DE EXIBIÇÃO</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>02</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Informe o nome que deve ser apresentado para este meio de pagamento no checkout de sua loja.</comment>
                        </title>
                        
                        <email translate="label">
                            <label>E-MAIL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>03</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>N&#227;o tem conta no PagSeguro? Clique &lt;a href=&quot;https://pagseguro.uol.com.br/registration/registration.jhtml?ep=7&amp;tipo=cadastro#!vendedor&quot; target=&quot;_blank&quot;&gt;aqui&lt;/a&gt; e cadastre-se gr&#225;tis.</comment>
                        </email>
                        <token translate="label">
                            <label>TOKEN</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>04</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>N&#227;o tem ou n&#227;o sabe seu token? Clique &lt;a href=&quot;https://pagseguro.uol.com.br/integracao/token-de-seguranca.jhtml&quot; target=&quot;_blank&quot;&gt;aqui&lt;/a&gt; para gerar um novo.</comment>
                        </token>
                        
                        <url translate="label">
                            <label>URL DE REDIRECIONAMENTO</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>05</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                           <comment>Ao final do fluxo de pagamento, seu cliente ser&#225; redirecionado de volta para sua loja ou para a URL que voc&#234; informar neste campo. Clique &lt;a href=&quot;https://pagseguro.uol.com.br/integracao/pagamentos-via-api.jhtml&quot; target=&quot;_blank&quot;&gt;aqui&lt;/a&gt; para ativar este servi&#231;o.</comment>
                        </url>
                        
                        <notification translate="label">
                            <label>URL DE NOTIFICAÇÃO</label>
                            <sort_order>06</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                           <comment>Sempre que uma transa&#231;&#227;o mudar de status, o PagSeguro envia uma notifica&#231;&#227;o para sua loja ou para a URL que voc&#234; informar neste campo.</comment>
                        </notification>
                        
                        <charset translate="label">
                            <label>CHARSET</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagseguro/values</source_model>
                            <sort_order>07</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Defina o charset de acordo com a codificação do seu sistema.</comment>
                        </charset>
                                    
                        <log translate="label">
                            <label>LOG</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>08</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Criar arquivo de log?</comment>
                        </log>
                        
                        <log_file translate="label">
                            <label>DIRETÓRIO</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>09</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                           <comment>Caminho para o arquivo de log.</comment>
                        </log_file>
                        
                        <checkout translate="label">
                            <label>CHECKOUT</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagseguro/checkout</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Selecione o tipo de checkout desejado.</comment>
                        </checkout>
                        
                    </fields>
                </pagseguro>
            </groups>
        </payment>
    </sections>
</config>
