<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<pagseguro translate="label" module="paygate">
					<label>PagSeguro</label>
					<sort_order>670</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<active translate="label">
							<label>ATIVAR MÓDULO</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Deseja habilitar o módulo?</comment>
						</active>
						<title translate="label">
							<label>NOME DE EXIBIÇÃO</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Informe o nome que deve ser apresentado para este meio de pagamento no checkout de sua loja.</comment>
						</title>
						<email translate="label">
							<label>E-MAIL</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Não tem conta no PagSeguro? Clique &lt;a href="https://pagseguro.uol.com.br/registration/registration.jhtml?ep=7&amp;tipo=cadastro#!vendedor" target="_blank"&gt;aqui&lt;/a&gt; e cadastre-se grátis.</comment>
						</email>
						<token translate="label">
							<label>TOKEN</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Não tem ou não sabe seu token? Clique &lt;a href="https://pagseguro.uol.com.br/integracao/token-de-seguranca.jhtml" target="_blank"&gt;aqui&lt;/a&gt; para gerar um novo.</comment>
						</token>
						<url translate="label">
							<label>URL DE REDIRECIONAMENTO</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Ao final do fluxo de pagamento, seu cliente será redirecionado de volta para sua loja ou para a URL que você informar neste campo. Clique &lt;a href="https://pagseguro.uol.com.br/integracao/pagamentos-via-api.jhtml" target="_blank"&gt;aqui&lt;/a&gt; para ativar este serviço.</comment>
						</url>
						<notification translate="label">
							<label>URL DE NOTIFICAÇÃO</label>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Sempre que uma transação mudar de status, o PagSeguro envia uma notificação para sua loja ou para a URL que você informar neste campo.</comment>
						</notification>
						<charset translate="label">
							<label>CHARSET</label>
							<frontend_type>select</frontend_type>
							<source_model>pagseguro/values</source_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Defina o charset de acordo com a codificação do seu sistema.</comment>
						</charset>
						<log translate="label">
							<label>LOG</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Criar arquivo de log?</comment>
						</log>
						<log_file translate="label">
							<label>DIRETÓRIO</label>
							<frontend_type>text</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>Caminho para o arquivo de log.</comment>
						</log_file>
					</fields>
				</pagseguro>
			</groups>
		</payment>
	</sections>
</config>
